@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">
        <marquee behavior="alternate" direction="right" scrollamount="9" style="font-weight: 600;">WELCOME</marquee>
    </h2>

    <h3>Student Management System</h3>

    <div>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 30px; padding: 20px; background-color: aqua; " asp-controller="Admin" asp-action="Admin">Admin</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 30px; padding: 20px; background-color: aqua; " asp-controller="Student" asp-action="Student">Student</a></h2>
    </div>

</div>