
@{
}

<div class="text-center">
    <h1>Student Portal</h1>
</div>

<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: aqua; " asp-controller="Student" asp-action="GetAllStudents">Get All Students</a></h2>
<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: aqua; " asp-controller="Student" asp-action="AddStudentById">Add Student Details</a></h2>
<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: aqua; " asp-controller="StudentMarks" asp-action="AddStudentMarksById">Add Student Marks</a></h2>
<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: aqua; " asp-controller="StudentMarks" asp-action="GetAllStudentMarks">Get all Marks</a></h2>